body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    grid-area: 1/1/2/3;
    justify-content: center;
}

header a {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3em;
    text-decoration: none;
    /* display: inline-block; */
    color: black;
}

header img {
    height: auto;
    width: 25px;
}

.back-logo {
    display: none;
}

.cart-logo {
    position: absolute;
    right: 0;
}

.checkout {
    grid-area: 2 / 1 / 3 / 3;
    text-align: center;
    margin-top: 4em;
}

.checkout p {
    color: grey;
    font-size: 15px;
}

.box {
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    justify-content: center;
}

.box .account {
    padding: 1em 8em 0 7em;
    /* grid-area: 3 / 1 / 4 / 2; */
    width: 30%;
    /* display: flex; */
    /* justify-content: center; */
}

.box .postal-input {
    height: 3em;
    border: none;
    /* border-bottom: 1px solid; */
    color: grey;
    width: 49%;
    outline: none;
}

.drop-down {
    height: 3em;
    border: none;
    border-bottom: 1px solid;
    /* color: grey; */
    width: 100%;
    background-color: white;
    outline: none;
}

.box .payment {
    padding: 1em 10em 0 0em;
    /* grid-area: 3 / 2 / 4 / 3; */
    width: 34%;
}

.list {
    height: 3em;
    border: none;
    border-bottom: 1px solid;
    color: grey;
    width: 32%;
    background-color: white;
    outline: none;
}

.t-shirt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.t-shirt p {
    font-size: 13px;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total p {
    font-size: 13px;
}

.place-order {
    margin-top: 2em;
    border: 2px solid;
    background-color: white;
    padding: 1em 2em 1em 2em;
}

.account input {
    padding: 10px 0;
    margin-bottom: 30px;
}

.box input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid;
}

.box input[type="submit"] {
    border-bottom: none;
    cursor: pointer;
    background: white;
    color: black;
    margin-bottom: 0;
    border: 2px solid;
    width: 50%;
}

#checkbox {
    width: 15px;
}

form div {
    position: relative;
}

form div label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    transition: 0.5s;
    pointer-events: none;
}

.payment input {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    padding: 10px 0;
    margin-bottom: 30px;
}

.payment div {
    position: relative;
}

.payment div label {
    position: absolute;
    top: 0em;
    left: 0;
    color: #999;
    transition: 0.5s;
    pointer-events: none;
}

#cvv {
    display: inline-block;
    width: 33%;
    top: 1px;
    /* border-bottom: 2px solid #999; */
}

#cvv label {
    top: 10px;
}

.email {
    text-align: center;
}

.border {
    position: relative;
    top: -45px;
    display: inline-block;
    height: 2px;
    width: 0;
    background: black;
    transition: all ease-in-out .5s;
}

form input:focus~label, .box input:valid~label {
    top: -12px;
    left: 0;
    font-size: 12px;
    font-weight: bold;
}

form input:focus, .box input:valid {
    /* transition: all ease-in-out .1s; */
    /* display: inline-block; */
    border-bottom: 2px solid black;
    /* transition: all ease-in-out 2s; */
}

form input:focus~.border {
    width: 100%;
}

.payment input:focus~label, .payment input:valid~label {
    top: -12px;
    left: 0;
    font-size: 12px;
    font-weight: bold;
}

.payment input:focus, .payment input:valid {
    border-bottom: 2px solid black;
}

.postal-input {
    display: inline-block;
    /* width:40%    */
}

form select:focus {
    border-bottom: 2px solid black;
}

.payment select:focus {
    border-bottom: 2px solid black;
}

.payment #cvv input:focus~label, .payment #cvv input:valid~label {
    top: -15px;
    left: 0;
    font-size: 12px;
    font-weight: bold;
}

.payment #cvv input:focus, .payment #cvv input:valid {

}border-bottom: 2px solid black;

@media (max-width:767px) {
    header {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        grid-area: 1/1/2/3;
        justify-content: space-between;
    }
    .cart-logo {
        position: inherit;
    }
    .box {
        /* grid-area: 3 / 1 / 4 / 3; */
        display: flex;
        flex-direction: column;
    }
    .box .account {
        /* grid-area: 3 / 1 / 4 / 2; */
        margin: 1em 1em 0 1em;
        width: 90%;
        padding: 0;
    }
    .box .payment {
        margin: 1em 1em 0 1em;
        width: 90%;
        padding: 0;
    }
    .back-logo {
        display: inline-block;
    }
    .summary {
        margin-bottom: 25px;
    }
    .box input[type="submit"] {
        cursor: pointer;
        background: black;
        color: white;
        margin-bottom: 0;
        /* border: 2px solid; */
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

/* .postal-input {
    /* display: inline; */

@media all and (min-width:500px) and (max-width:800px) {
    .box .account {
        padding: 1em 7em 0 3em;
        width: 24%;
    }
    .box .payment {
        padding: 1em 4em 0 4em;
        width: 42%;
    }
    .box form {
        width: 166%;
    }
}