body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    grid-area: 1/1/2/3;
    justify-content: center;
}

header a {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3em;
    text-decoration: none;
    /* display: inline-block; */
    color: black;
}

header img {
    height: auto;
    width: 25px;
}

.back-logo {
    display: none;
}

.cart-logo {
    position: absolute;
    right: 0;
}

.checkout {
    grid-area: 2 / 1 / 3 / 3;
    text-align: center;
    margin-top: 4em;
}

.checkout p {
    color: grey;
    font-size: 15px;
}

.account {
    grid-area: 3 / 1 / 4 / 2;
    padding: 1em 4em 0 20em;
}

.form-input {
    height: 3em;
    border: none;
    border-bottom: 1px solid;
    color: grey;
    width: 100%;
    outline: none;
}

.input {
    height: 3em;
    border: none;
    border-bottom: 1px solid;
    color: grey;
    width: 50%;
    outline: none;
}

.drop-down {
    height: 3em;
    border: none;
    border-bottom: 1px solid;
    /* color: grey; */
    width: 100%;
    background-color: white;
    outline: none;
}

.payment {
    grid-area: 3 / 2 / 4 / 3;
    padding: 1em 17em 0 6em;
}

.list {
    height: 3em;
    border: none;
    border-bottom: 1px solid;
    color: grey;
    width: 32%;
    background-color: white;
    outline: none;
}

.cvv-list {
    height: 2.75em;
    border: none;
    border-bottom: 1px solid;
    color: grey;
    width: 33%;
    background-color: white;
    outline: none;
}

.t-shirt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.t-shirt p {
    font-size: 13px;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.total p {
    font-size: 13px;
}

.place-order {
    margin-top: 2em;
    border: 2px solid;
    background-color: white;
    padding: 1em 2em 1em 2em;
}

@media (max-width:767px) {
    /* .checkout {
        grid-area: 2 / 1 / 3 / 3;
        text-align: center;
    } */
    .container {
        display: flex;
        flex-direction: column;
    }

    .account {
        grid-area: 3 / 1 / 4 / 2;
        padding: 1em 1em 0 1em;
    }

    .payment {
        grid-area: 3 / 2 / 4 / 3;
        padding: 1em 1em 0 1em;
    }

    .adding {
        width: 100%;
        text-align: center;
        position: fixed;
        bottom: 0px;
        left: 0px;
    }

    .place-order {
        width: 100%;
        padding: 1em;
        color: white;
        background-color: black;
    }

    .back-logo {
        display: inline;
        position: absolute;
        left: 0;
    }

    .checkout {
        margin-top: 0;
    }

    .summary {
            margin-bottom: 3em;
    }
}

@media all and (min-width:500px) and (max-width:800px) {
    .account {
        padding: 1em 1em 0 1em;
    }

    .payment {
        padding: 1em 1em 0 1em;
    }
}

