body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* display: grid;
    grid-template-columns: 50% 50%; */
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: 1/1/2/3;
}

header a {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3em;
    text-decoration: none;
    /* display: inline-block; */
    color: black;
}

header img {
    height: auto;
    width: 25px;
}

nav {
    grid-area: 2 / 1 / 3 / 3;
}

.menu-list {
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin-top: 4em;
    height: 90px;
}

.menu-list a {
    text-decoration: none;
    color: black;
    padding: 25px;
}

.item {
    grid-area: 3 / 1 / 4 / 2;
}

.t-shirt {
    float: right;
}

.details {
    grid-area: 3 / 2 / 4 / 3;
}

.price {
    color: grey;
    height: 3em;
}

.details h1 {
    font-size: 24px;
    line-height: 50px;
}

.details p {
    display: inline;
    color: grey;
    padding-right: 3em;
}

.details ul {
    color: grey;
}

.option {
    width: 15em;
    background-color: transparent;
    /* opacity: 1.0; */
    border: none;
    height: 3.6em;
}

.size {
    height: 3em;
    margin-top: 1.5em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 80%;
}

.option2 {
    width: 12.1em;
    background-color: transparent;
    opacity: 1.0;
    border: none;
    height: 3.6em;
}

.quantity {
    height: 3em;
    /* padding-top: 1em; */
    border-bottom: 1px solid;
    width: 80%;
}

.description {
    width: 50%;
}

.adding button {
    width: 40%;
    color: black;
    background-color: white;
    height: 4em;
    border: 4px solid;
}
@media all and (min-width:500px) and (max-width:800px){
    header {
        width: 100%;
    }

    .t-shirt {
        float: right;
        height: 25em;
    }

    .description {
        width: 100%;
    }
}

@media (max-width:767px) {
    nav {
        display: none;
    }
    header {
        width: 100%;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .details {
        padding-left: 3em;
    }
    .description {
        width: 100%;
    }
    .t-shirt {
        width: 100%;
    }
    .adding {
        width: 100%;
        text-align: center;
        position: fixed;
        bottom: 0px;
        left: 0px;
    }
    .adding button {
        width: 100%;
        color: white;
        background-color: black;
        height: 3em;
        font-size: 1em;
    }
    
}