body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    /* display: flex; */
    text-align: center;
    /* justify-content: space-around; */
    position: relative;
}

header a {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3em;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.cart-logo {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.menu-list {
    justify-content: space-around;
    display: flex;
    list-style-type: none;
    margin-top: 4em;
    padding: 0 30em 0 30em;
}

.menu-list  a {
    text-decoration: none;
    color: black;
}

.mens-img{
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}