body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

header {
    text-align: center;
    position: relative;
    grid-area: 1 / 1 / 2 / 3;
}

header>p {
    display: none;
}

header a {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3em;
    text-decoration: none;
    display: inline-block;
    color: black;
}

header img {
    height: auto;
    width: 25px;
}

.cart-logo {
    position: absolute;
    right: 0;
    bottom: 10px;
}

nav {
    grid-area: 2 / 1 / 3 / 3;
}

.menu-list {
    justify-content: center;
    display: flex;
    list-style-type: none;
    margin-top: 4em;
    padding: 0 30em 0 30em;
}

.menu-item {
    padding-right: 2em;
}

.menu-list a {
    text-decoration: none;
    color: black;
}

.mens-img {
    object-fit: cover;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    height: 350px;
    /* max-width: 100%; */
    width: 100%;
}

.mens-wear {
    text-align: center;
    grid-area: 3 / 1 / 4 / 3;
    /* height: 38em; */
    margin-bottom: 50px;
}

.mens-wear h3 {
    height: 3em;
}

.shop-link {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 1em 2em 1em 2em;
}

.ladies-img {
    object-fit: cover;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    height: 350px;
    /* max-width: 100%; */
    width: 100%;
}

.ladies-wear {
    text-align: center;
    grid-area: 4 / 1 / 5 / 3;
    /* height: 38em; */
    margin-bottom: 50px;
}

.ladies-wear h3 {
    height: 3em;
    /* height: 34em; */
}

.tshirt-men {
    text-align: center;
    /* display: flex; */
    grid-area: 5 / 1 / 6 / 2;
}

.tshirt-men img {
    object-fit: cover;
    display: block;
    /* margin-left: 4em; */
    /* margin-right: auto; */
    height: 100%;
    max-width: 100%;
}

.tshirt-men h3 {
    height: 3em;
}

.tshirt-women {
    text-align: center;
    grid-area: 5 / 2 / 6 / 3;
    /* margin-right: 4em; */
}

.tshirt-women img {
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: 4em;
    height: 100%;
    max-width: 100%;
}

.tshirt-women h3 {
    height: 3em;
}

footer {
    text-align: center;
    grid-area: 6 / 1 / 7 / 3;
}

footer a {
    text-decoration: none;
    color: grey;
    display: block;
}

footer p {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 1em;
}

@media (max-width: 767px) {
    nav {
        display: none;
    }
    /* header {
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    header p {
        display: inline;
        position: absolute;
        left: 0;
    }
    .tshirt-men img {
        object-fit: cover;
        display: block;
        /* margin-left: 4em; */
        margin-right: auto;
        height: 59%;
        max-width: 100%;
    }
    .tshirt-women {
        margin-right: 0;
        height: 16.5em;
    }
    .tshirt-men {
        height: 28em;
    }
}

@media all and (min-width:500px) and (max-width:800px) {
    body {
        /* width: 85em; */
        padding: 0;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }
    .container {
        width: 74em;
    }
    .menu-list {
        justify-content: center;
        display: flex;
        list-style-type: none;
        margin-top: 4em;
        padding: 0 30em 0 4em;
        width: 65em;
    }
    .shop-link {
        text-decoration: none;
        color: black;
        border: 2px solid black;
        padding: 1em 1em 1em 1em;
    }
}