body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    /* display: flex; */
    text-align: center;
    /* justify-content: space-around; */
    position: relative;
}

header a {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3em;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.cart-logo {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.menu-list {
    justify-content: space-around;
    display: flex;
    list-style-type: none;
    margin-top: 4em;
    padding: 0 30em 0 30em;
}

.menu-list a {
    text-decoration: none;
    color: black;
}

.mens-img {
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.mens-wear {
    text-align: center;
    height: 34em;
}

.mens-wear h3 {
    height: 3em;
}

.shop-link {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 1em 2em 1em 2em;
}

.ladies-img {
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.ladies-wear {
    text-align: center;
    height: 34em;
}

.ladies-wear h3 {
    height: 3em;
    /* height: 34em; */
}

.tshirt {
    display: flex;
}

.mens-tshirt {
    display: inline;
}

.tshirt-men {
    object-fit: contain;
    width: 50%;
}

.tshirt-ladies {
    object-fit: contain;
    width: 50%;
}

.catalog {
    display: flex;
    justify-content: space-around;
    height: 5em;
}

.shop {
    display: flex;
    justify-content: space-around;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: grey;
    display: block;
}

footer p {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 1em;
}