body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    /* display: flex; */
    text-align: center;
    /* justify-content: space-around; */
    position: relative;
}

header a {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3em;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.cart-logo {
    position: absolute;
    right: 0;
    bottom: 10px;
}

nav {
    display: flex;
    justify-content: space-around;
}